<link href="{echo: $baseUrl;/}/css/css.css" type="text/css" rel="stylesheet" />
<link href="{echo: $baseUrl;/}/css/index.css" rel="stylesheet" type="text/css" />
<link href="skin/<?php echo  $SYSINFO['templates'];?>/css/article.css" type="text/css" rel="stylesheet" />
<div class="hds">
<div class="hd">

<div class="lg">
{echo:$SYSINFO['sys_name'];/}!{sta: if($USER['login'])[exc]}{echo: lp{i_hi};/}! {echo: $USER['user_name'];/} <a href="do.php?act=logout">{echo: lp{i_logout};/}</a>{sta:} else [exc]}<a href="login.php">{echo:lp{i_login};/}</a>&nbsp;|&nbsp;<a href="modules.php?app=reg">{echo:lp{i_register_free};/}</a>{end:if/}&nbsp;&nbsp;
<a href="modules.php">{echo:lp{i_u_center};/}</a>
        <a class="shop_cart" href="modules.php?app=user_cart">{echo:lp{i_cart};/}</a>
</div>
</div>
<div class="nv">
<ul>
<li style="width: 90px;"><a href="{echo: $baseUrl;/}">首页</a></li>
<li style="width: 98px;"><a href="{echo: $baseUrl;/}search.php">买狗狗</a></li>
<li style="width: 90px;"><a href="{echo: $baseUrl;/}search.php?search_type=搜商家">犬舍</a></li>
<li style="width: 100px;"><a href="{echo: $baseUrl;/}answer.php">养狗问答</a></li>
<li style="width: 95px;"><a href="http://www.bch168.com/free.html">免费领狗</a></li>
<li style="width: 90px;"><a href="http://www.bch168.com/use/">用品商城</a></li>
<li style="width: 100px;"><a href="http://www.bch168.com/jiameng.html">代理加盟</a></li>
<li style="width: 100px;"><a href="http://www.bch168.com/kefu.html">客服服务</a></li>
<li style="width: 200px;text-align: left;padding-left: 26px;">搜索一下</li>
</ul>
</div>
</div>
<div class="ikey">
<ul>
<li><img src="{echo: $baseUrl;/}css/hot.jpg" border=0>热销宠物狗：</li>
<li><a href="http://hsq.bch168.com/" target="_blank">哈士奇</a></li>
<li><a href="http://zao.bch168.com/" target="_blank">藏獒</a></li> 
<li><a href="http://tdx.bch168.com/" target="_blank">泰迪熊</a></li> 
<li><a href="http://smyq.bch168.com/" target="_blank">萨摩耶</a></li> 
<li><a href="http://bxq.bch168.com/" target="_blank">比熊</a></li> 
<li><a href="http://jmq.bch168.com/" target="_blank">金毛</a></li> 
<li><a href="http://lbldq.bch168.com/" target="_blank">拉布拉多</a></li> 
<li><a href="http://ssq.bch168.com/" target="_blank">松狮</a></li> 
<li><a href="http://jww.bch168.com/" target="_blank">吉娃娃</a></li> 
<li><a href="http://bmq.bch168.com/" target="_blank">博美犬</a></li> 
<li><a href="http://xnrq.bch168.com/" target="_blank">雪纳瑞</a></li> 
<li><a href="http://gbq.bch168.com/" target="_blank">贵宾</a></li> 
<li><a href="http://alsjq.bch168.com/" target="_blank">阿拉斯加</a></li> 
<li><a href="http://hdq.bch168.com/" target="_blank">蝴蝶犬</a></li> 

</ul>
</div>
<div style="width: 980px;margin: 0 auto;padding: 0;">