@CHARSET "UTF-8";

.imt {
	background: url("bt1.jpg") no-repeat;
	color: #F85007;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
	width: 228px;
}

#answer_Contents {
	border: none;
	float: left;
	height: 300px;
	margin-top: 5px;
	width: 990px;
	
}

#answer_left {
	float: left;
	border: 1px solid #CCCCCC;
	width: 320px;
	height: 300px;
}
#answer_center {
	float: left;
	margin-left:12px;
	border: 0px solid #CCCCCC;
	width: 320px;
	height: 300px;
        overflow: hidden;
}
#answer_right {
	float: right;
	border: 0px solid #CCCCCC;
	width: 320px;
	height: 300px;
        overflow: hidden;

}

.answer_left_head {
	background-image: url(http://localhost/bch168//css/bt1.jpg);
	background-position: initial initial;
	background-repeat: initial initial;
	color: #F85007;
	font-size: 16px;
	height: 400px;
	line-height: 38px;
	padding-left: 20px;
	width: 330px;
}

#main{
    width: 80%;
    margin-top: 10% ;
    margin-left: 10%;
}
#cat_tip{
    width: 228px;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    font-size: 16px;
    color: #F85007;
    background-color: #eeeeee;
}
#knowledge_tip{
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    font-size: 16px;
    color: #F85007;
    background: url(../images/bt.jpg);
}
#category{
    height: 270px;
    float: left;
    border: 1px solid gainsboro;
    margin-bottom: 4px;
}
#knowledge{
    float: right;
    width: 740px;
    height: 800px;
    border: 1px solid gainsboro;
}
#news{
    height: 270px;
    float: left;
    margin-top: 3px;
    border: 1px solid gainsboro;
}
#news_tip{
    width: 320px;
    height: 38px;
    padding-left: 20px;
    line-height: 38px;
    font-size: 16px;
    color: #F85007;
    background: url(../images/bt.jpg);
}
#cat_con ul li{
    float:left;
    list-style:none;
    display:inline;
    padding-left: 15px;
}
#cat_con ul{
    padding-left: 1px;
}
a:visited{
    color:#000000;
    text-decoration:none;
}


#cat_con a{
    font-size: 13px;
    text-decoration: none;
}
#cat_con a:hover{
    color: red;
}

.news_ul{
    height: 252px;
    padding-left: 10px;
    border-left: 1px #DDDDDD solid;
    border-right: 1px #DDDDDD solid;
}
.news_ul li{
    list-style: none;
    line-height: 20px;
    border-bottom:1px dashed #aaa;
}
.news_ul span{
    float: right;
    padding-right: 10px;
    font-size: 10px;
}
.news_ul a{
     font-size: 13px;
     text-decoration: none;
 }
.news_ul a:hover{
    color: red;
}
.answer_bm{
    width: 320px;
    height: 8px;
    line-height: 8px;
    background: url(../images/answer_bm.jpg);
}

/* 养狗问答 全新宝贝 start */
.qxbb{
    overflow:hidden;
}
.qxbb ul{
    height: auto;
    padding-left: 4px;
    border-left: 1px #DDDDDD solid;
    border-right: 1px #DDDDDD solid;
    overflow:hidden;
}
.qxbb li {
  border:0px solid #CCCCCC;
  float:left;
  height:367px;
  line-height:170%;
  margin:5px;
  overflow:hidden;
  width:236px;
}
.qxbb a{
    color: #F85007;
}
.qxbb a:visited{
    color: #F85007;
}
.qxbb a:hover{
    color: #C22003;
}
.qxbb table{padding:5px;}
.qxbb tr{padding-left:10px;padding-right:10px;}
/* 养狗问答 全新宝贝 end */

/* 养狗问答 最新上架 start */
.zxsj{
    overflow:hidden;
}
.zxsj ul{
    height: auto;
    padding-left: 4px;
    border-left: 1px #DDDDDD solid;
    border-right: 1px #DDDDDD solid;
    overflow:hidden;
}
.zxsj li {
  border:0px solid #CCCCCC;
  float:left;
  height:128px;
  line-height:170%;
  margin:5px;
  overflow:hidden;
  width:315px;
}
.zxsj a{
    color: #F85007;
}
.zxsj a:visited{
    color: #F85007;
}
.zxsj a:hover{
    color: #C22003;
}
.zxsj table{padding:5px;}
.zxsj tr{padding-left:10px;padding-right:10px;}

/* 养狗问答 最新上架 end */