<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{echo: $header['title'];/}</title>
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/import.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/parts.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/article.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/answer.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/slideshow.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/slideshow.js"></script>
<base href="{echo: $baseUrl;/}" />
</head>
<body>
	{inc: include("shop/index_header.php");/}
<!-- 狗狗种类 -->
	<div class="ifl">
		<div class="iflt">狗狗种类</div>
			<ul>
				<li><a href="" title="贵宾犬">贵宾犬</a></li>
				<li><a href="" title="泰迪犬">泰迪犬</a></li>
				<li><a href="" title="哈士奇">哈士奇</a></li>
				<li><a href="" title="吉娃娃">吉娃娃</a></li>
				<li><a href="" title="雪纳">雪纳</a></li>
				<li><a href="" title="瑞迷你">瑞迷你</a></li>
				<li><a href="" title="杜宾犬">杜宾犬</a></li>
				<li><a href="" title="柯基犬">柯基犬</a></li>
				<li><a href="" title="腊肠犬">腊肠犬</a></li>
			</ul>
		<div class="iflm"></div>
	</div>

	<div id="answer_Contents">
                <!-- 新闻图片切换 -->
		<div id="answer_left">
                    <div class="comiis_wrapad" id="slideContainer">
                    <div id="frameHlicAe" class="frame cl">
                        <div class="temp"></div>
                        <div class="block">
                            <div class="cl">
                                <ul class="slideshow" id="slidesImgs">
                                    <li><a href="http://www.lanrentuku.com/" target="_blank">
                                        <img src="skin/{echo: $SYSINFO['templates'];/}/images/slideshow/001.png" width="320" height="300" alt="" /></a><span class="title">第1张图的描述信息</span></li>
                                    <li><a href="http://www.lanrentuku.com/" target="_blank">
                                        <img src="skin/{echo: $SYSINFO['templates'];/}/images/slideshow/002.png" width="320" height="300" alt="" /></a><span class="title">第2张图的描述信息</span></li>
                                    <li><a href="http://www.lanrentuku.com/" target="_blank">
                                        <img src="skin/{echo: $SYSINFO['templates'];/}/images/slideshow/003.png" width="320" height="300" alt="" /></a><span class="title">第3张图的描述信息</span></li>
                                        <li><a href="http://www.lanrentuku.com/" target="_blank">
                                        <img src="skin/{echo: $SYSINFO['templates'];/}/images/slideshow/004.png" width="320" height="300" alt="" /></a><span class="title">第3张图的描述信息</span></li>
                                </ul>
                            </div>
                            <div class="slidebar" id="slideBar">
                                <ul>
                                    <li class="on">1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    SlideShow(3000);
                </script>
                </div>
                <!-- 宠物新闻 -->
		<div id="answer_center">
			<div id="news_tip">宠物新闻</div>
                        <div id="news_con">
            <!--                <ul class="news_ul">
                                <li><a href="#">哈士奇是狼是狗？</a><span>2013-07-03</span></li>
                                <li><a href="#">藏獒传奇</a><span>2013-07-03</span></li>
                            </ul>-->
                            <ul class="news_ul">
                            <?php
                            $result = mysql_query("SELECT * FROM imall_article where cat_id=8  order by article_id desc limit 0, 10");
                            while($row = mysql_fetch_array($result))
                              {
                            ?>
                            <li>
                            <a href="details.php?id=<?php echo $row['article_id']; ?>"  target="_blank"><?php echo $row['title']; ?></a>
                            <span><?php echo mb_substr($row['add_time'],0,10); ?></span>
                            </li>
                            <?
                              }
                            ?>
                            </ul>
                        </div>
                        <div class="answer_bm"></div>
		</div>
                <!-- 哈士奇养护知识 -->
		<div id="answer_right">
			<div id="knowledge_tip">哈士奇养护知识</div>
                        <div id="knowledge_con">
                            <ul class="news_ul">
            <!--                    <li><a href="#">养哈士奇之前必看知识养哈士奇...</a><span>2013-07-03</span></li>
                                <li><a href="#">养哈士奇之前必看知识养哈士奇...</a><span>2013-07-03</span></li>-->
                            <?php
                            $result = mysql_query("SELECT * FROM imall_article where cat_id=8  order by article_id desc limit 0, 10");
                            while($row = mysql_fetch_array($result))
                              {
                            ?>
                            <li>
                            <a href="details.php?id=<?php echo $row['article_id']; ?>"  target="_blank"><?php echo $row['title']; ?></a>
                            <span><?php echo mb_substr($row['add_time'],0,10); ?></span>
                            </li>
                            <?
                              }
                            ?>
                            </ul>
                        </div>
                        <div class="answer_bm"></div>
		</div>
	</div>
<!-- 全新宝贝 -->
<div class="imc2" style="padding-top: 10px;">
	<div class="iflt2" style="padding-left: 10px;">
		<b>全新宝贝</b>
	</div>
	<div class="qxbb">
		<ul id="wenchuan">
			<li>
                            <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/qxbb.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="236" height="367" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
			</li>
                        <li>
                            <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/qxbb.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="236" height="367" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
			</li>
                        <li>
                            <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/qxbb.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="236" height="367" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
			</li>
                        <li>
                            <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/qxbb.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="236" height="367" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
			</li>
                        <li>
                            <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/qxbb.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="236" height="367" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
			</li>
                        <li>
                            <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/qxbb.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="236" height="367" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
			</li>
                        <li>
                            <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/qxbb.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="236" height="367" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
			</li>
                        <li>
                            <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/qxbb.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="236" height="367" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
			</li>
		</ul>
	</div>
    <div class="iflm"></div>
</div>
<div class="imc2">
	<div class="iflt2" style="padding-left: 10px;">
		<b>最新上架</b>
	</div>
	<div class="zxsj">
		<ul id="wenchuan">
                    <li>
                        <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/zxsj.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="315" height="128" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
                    </li>
                    <li>
                        <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/zxsj.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="315" height="128" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
                    </li>
                    <li>
                        <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/zxsj.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="315" height="128" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
                    </li>
                    <li>
                        <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/zxsj.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="315" height="128" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
                    </li>
                    <li>
                        <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/zxsj.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="315" height="128" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
                    </li>          
                    <li>
                        <a href="goods.php?id=20"><img src="uploadfiles/goods/2010/11/23/zxsj.png" alt="新款百达翡丽(Patek)复古系列多功能自动机械背透手表" width="315" height="128" onerror="this.src='skin/default/images/nopic.gif'" border="0"/></a>
                    </li>		
		</ul>
	</div>
	<div class="iflm"></div>
</div>
<!-- 免费领狗 -->
<div class="ifl">
		<div class="iflt">免费领狗</div>
			<ul>
				<li><a href="" title="贵宾犬">贵宾犬</a></li>
				<li><a href="" title="泰迪犬">泰迪犬</a></li>
				<li><a href="" title="哈士奇">哈士奇</a></li>
				<li><a href="" title="吉娃娃">吉娃娃</a></li>
				<li><a href="" title="雪纳">雪纳</a></li>
				<li><a href="" title="瑞迷你">瑞迷你</a></li>
				<li><a href="" title="杜宾犬">杜宾犬</a></li>
				<li><a href="" title="柯基犬">柯基犬</a></li>
				<li><a href="" title="腊肠犬">腊肠犬</a></li>
			</ul>
		<div class="iflm"></div>
</div>
<!-- 友情链接 -->
<div class="ifl">
		<div class="iflt">友情链接</div>
			<ul>
				<li><a href="" title="贵宾犬">贵宾犬</a></li>
				<li><a href="" title="泰迪犬">泰迪犬</a></li>
				<li><a href="" title="哈士奇">哈士奇</a></li>
				<li><a href="" title="吉娃娃">吉娃娃</a></li>
				<li><a href="" title="雪纳">雪纳</a></li>
				<li><a href="" title="瑞迷你">瑞迷你</a></li>
				<li><a href="" title="杜宾犬">杜宾犬</a></li>
				<li><a href="" title="柯基犬">柯基犬</a></li>
				<li><a href="" title="腊肠犬">腊肠犬</a></li>
			</ul>
		<div class="iflm"></div>
</div>
  {inc: include("shop/index_footer.php");/}
